modules = ["python-3.12", "nodejs-20", "web"]
run = "python3 web.py"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38441161
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv run python web.py"

[deployment]
run = ["sh", "-c", "start index.html"]
